.a1,
        .a2,
        .a3,
        .a4 {
            border: 1px;
            width: 100%;
            height: 100vh;
        }

        .a1 {
            display: flex;
            flex-direction: column;
            padding-top: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .b {
            background-color: yellow;
            color: black;
            padding-top: 2%;
            margin-top: 5vh;

        }

        .b i {
            margin-left: 10%;
        }

        .c {
            background-color: black;
            height: 5vh;
            width: 99%;
            position: fixed;
            z-index: 2;
            top: 0;
            /* top:8%; */
            padding-top: 2%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-direction: row;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .d a {
            text-decoration: none;
        }

        .a1+strong {
            margin-left: 2%;
        }

        .d {
            display: flex;
            flex-direction: row;
            gap: 5%;
        }

        .e {
            width: 8%;
            height: 2%;
            background-color: red;
            border-radius: 40px;
            padding: 7px 3px 20px 3px;
            color: white;
            text-align: center;
            margin-top: -0.2%;
        }

        .f {
            text-align: center;
            color: whitesmoke;
            margin-top: 15%;
        }

        .f strong {
            font-size: 50px;
            color: whitesmoke;
        }

        .g {
            display: flex;
            flex-direction: row;
            color: whitesmoke;
            justify-content: space-around;
            margin-top: 8%;
        }

        .h {
            display: flex;
            flex-direction: row;
            gap: 3%;
        }

        .vid {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            margin-left: 0.5%;
            width: 99%;
            height: 99%;
            z-index: -1;
        }

        .a2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-image: url("./img/edward-unsplash-blur.jpg");
        }

        .im {
            width: 50vw;
            height: 65vh;
            border-radius: 5%;
        }

        .para {
            width: 35vw;
            height: 50vh;
            margin-top: -8%;
            color: whitesmoke;
        }

        .para h1 {
            font-size: 40px;
        }

        .ig {
            display: flex;
            flex-direction: row;
            width: 35vw;
            height: 15vh;
            background-color: whitesmoke;
            border-radius: 40px;
            opacity: 0.8;
            margin-top: -20%;
            margin-left: 5%;
        }

        .pe {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            gap: 2px;
        }

        .font {
            display: flex;
            align-items: center;
        }

        .a3 h1 {
            text-align: center;
            font-size: 40px;
            font-style: sanserif;
        }

        .hpy {
            margin-left: -5%;
            font-style: Segoe UI;
        }

        .parent {
            display: flex;

            justify-content: space-evenly;
            align-items: center;


        }

        .ch1 {
            width: 30vw;
            height: 75vh;
            border-radius: 10%;
            /* padding: 7px 3px 20px 3px; */

        }

        .ch2 {
            width: 25vw;
            height: 35vh;
            border-radius: 5%;
            margin-left: -30%;

        }

        .ch3 {
            width: 25vw;
            height: 35vh;
            border-radius: 5%;
            margin-left: -30%;
        }

        .eve {
            font-size: 35px;
            text-align: center;
        }

        .gr1 {
            display: grid;
            grid-template-columns: 10vw 30vw 20vw 30vw;
            border: 1px solid black;
        }

        .plan {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .d1 {
            border: 5px dotted black;
            width: 40%;
            display: flex;
            flex-direction: column;
            margin: 5%;
            border-spacing: 5%;
            border-radius: 5%;
            position: relative;

        }

        .d1 div {
            margin-left: 5%;
        }

        .d2 {
            border: 5px dotted black;
            width: 40%;
            display: flex;
            flex-direction: column;
            border-radius: 5%;
            color: black;
        }

        .d2 div {
            margin-left: 5%;
        }

        .a5 h1 {
            font-size: 40px;
            text-align: center;
        }

        .save {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: rgb(233, 7, 7);
            font-size: 20px;
            position: absolute;
            right: 0%;

        }

        .save span {
            margin-top: 20%;
            margin-left: 3%;
            display: inline-block;
            text-align: center;
        }

        .a6 h1 {
            font-size: 40px;
            text-align: center;
        }

        .let {

            width: 8%;
            height: 2%;
            background-color: red;
            border-radius: 40px;
            padding: 7px 3px 20px 3px;
            color: white;
            text-align: center;
            margin-left: 45%;
        }

        .cont {
            width: 25%;
            height: 5%;
            background-color: aliceblue;
            border-radius: 40px;
            display: flex;
            justify-content: space-around;
            align-content: center;
            padding: 7px 3px 20px 3px;
            color: white;
            margin-left: 35%;
            text-align: center;
        }

        .cont1 {
            width: 40%;
            height: 20%;
            background-color: white;
            color: grey;
            border-radius: 40px;
            padding: 7px 3px 20px 3px;
        }

        .cont2 {
            width: 30%;
            height: 20%;
            background-color: white;
            color: grey;
            border-radius: 40px;
            padding: 7px 3px 20px 3px;

            text-align: center;
            margin-top: -0.2%;
        }

        .a4 {
            width: 100%;
        }

        .a4 h1 {
            font-size: 25px;
            text-align: center;
        }

        .gri {
            border-radius: 5%;
            display: grid;
            grid-template-columns: 250px 250px 250px 250px;
            grid-template-rows: 50px 150px 100px 150px;
            justify-content: center;
            text-align: center;
        }

        .gri div {
            border: 1px solid whitesmoke;
        }

        .c0 {
            border-top-left-radius: 5px;
        }

        .c11 {
            border-top-right-radius: 5px;
        }

        .c0,
        .c9,
        .c10,
        .c11 {
            background-color: orangered;
            justify-content: center;
            align-content: center;
            color: whitesmoke;
        }

        .c12 {
            background-color: rgb(40, 38, 38);
            justify-content: center;
            align-content: center;
            color: whitesmoke;
            border-bottom-left-radius: 5px;
        }

        .c1 {
            background-image: url("./img/joecalih-UmTZqmMvQcw-unsplash.jpg");
            background-size: 30vw 40vh;
            background-repeat: no-repeat;
            color: white;
            opacity: 0.9;
            justify-content: center;
            align-content: center;
        }

        .c3 {
            background-image: url("./img/abstral-official-bdlMO9z5yco-unsplash.jpg");
            background-size: 25vw 30vh;
            background-repeat: no-repeat;
            color: white;
            opacity: 0.9;
            justify-content: center;
            align-content: center;
        }

        .c4 {
            background-image: url("./img/soundtrap-rAT6FJ6wltE-unsplash.jpg");
            background-size: 25vw 40vh;
            background-repeat: no-repeat;
            color: whitesmoke;
            opacity: 0.9;
            justify-content: center;
            align-content: center;
        }

        .c5 {
            color: white;
            justify-content: center;
            align-content: center;
            background-color: rgb(40, 38, 38);
            border-bottom-right-radius: 5px;

        }

        .c6 {
            color: white;
            justify-content: center;
            align-content: center;
            background-color: rgb(40, 38, 38);
        }

        .c7 {
            background-color: rgb(227, 168, 176);
        }

        .c8 {
            background-color: rgb(131, 191, 214);
        }

        .for {
            width: 50vw;
            height: 50vh;
            background-color: whitesmoke;
            margin: 0 auto;
            justify-content: center;
        }

        .fn {
            margin-left: 20%;
            margin-top: 10%;
            width: 30%;
            height: 10%;
        }

        .fn1 {
            width: 30%;
            height: 10%;
        }

        .fn2 {
            width: 62%;
            height: 10%;
            margin-left: 20%;
        }

        .fn3 {
            width: 62%;
            height: 10%;
            margin-left: 20%;
        }

        .fn4 {
            width: 15%;
            height: 1%;
            background-color: red;
            border-radius: 40px;
            padding: 7px 3px 10px 3px;
            color: white;
            text-align: center;
            text-decoration: none;
            margin-left: 40%;
        }

        .f1 {
            display: flex;
            justify-content: space-around;
            height: 10vh;
            background-color: #d31226;
            color: white;
            font-size: 25px;
        }

        .f2 {
            display: flex;
            justify-content: space-around;
            height: 30vh;
            background-color: black;
            color: white;

        }

        .f3 {
            display: flex;
            gap: 5px;
        }

        .f4 {
            height: 15vh;
            background-color: black;
            color: white;
            display: flex;
            justify-content: space-around;
        }

        .f2:active a {
            color: yellow;
        }

        .a6:active .cont1 {
            background-color: pink;
        }

        .a6:active .cont2 {
            background-color: red;
        }




        /* --------------------------code for mediaqueries------------------------------------------ */

        @media screen and (max-width:320px) {
            body {
                width: 100%;
            }

            .a1 {
                border: 1px;
            }

            .c {
                width: 95%;
            }

            .d {
                visibility: hidden;
            }

            .g {
                margin-top: 30%;
            }

            .e {
                width: 100%;
                height: 2%;
                background-color: red;
                border-radius: 40px;
                padding: 7px 3px 20px 3px;
                color: white;
                text-align: center;
                margin-top: -0.2%;
                margin-left: -60%;
                margin-top: 0%;

            }

            .h {
                margin-left: -6%;
                margin-top: 0%;
                display: flex;
                flex-direction: column;
            }

            .a2 {
                width: 95%;
                margin-top: 20%;
                margin-left: 0%;
                display: flex;
                flex-direction: column;
            }

            .para {
                width: 50%;
                height: 20%;
                font-size: 10px;
            }

            .im {
                height: 40%;
                width: 90%;
                margin-top: 95%;
            }

            .font,
            .ig,
            .pe {
                visibility: hidden;
            }

            .parent {
                display: flex;
                flex-direction: column;
            }

            .ch1 {
                width: 85%;
                height: 40%;

            }

            .ch2 {
                width: 85%;
                height: 20%;
                margin-left: 2%;

            }

            .ch3 {
                width: 85%;
                height: 20%;
                margin-left: 2%;
            }

            .a4 {
                margin-top: 95%;
            }

            .gri {
                display: grid;
                grid-template-rows: 28px 132px 132px 132px;
                grid-template-columns: 25px 58px 88px 78px;
                justify-content: center;
                text-align: center;
                font-size: 10px;
            }

            .c3 {
                background-size: 35vw 40vh;
                ;
            }

            .plan {
                display: flex;
                flex-direction: column;
            }

            .d1,
            .d2 {
                width: 80%;
            }

            .save {
                margin-left: 10%;
                width: 30%;
                height: 30%;
            }

            .cont {
                width: 90%;
                height: 10%;
                margin-left: 1%;
            }

            .cont1 {
                width: 40%;
                height: 20%;
                background-color: white;
                color: grey;
                border-radius: 40px;
                padding: 7px 3px 20px 3px;
            }

            .for {
                width: 100%;
                height: 500px;
            }
            .f1,
            .f2,
            .f4 {
                display: flex;
                flex-direction: column;
            }

            .f1 {
                width: 101%;
                height: 100%;
            }

            .f2 {
                width: 101%;
                height: 50vh;
            }

            .f4 {
                width: 101%;
                height: 50vh;
            }

            .f1,
            .f2,
            .f4 {
                margin-left: -2%;
            }

            .let {
                visibility: hidden;
            }
        }


        /* ------------------------------------------------------------------ */


        /* -------------------Mediaqueries fot other screen----------------------- */

        @media screen  and (min-width:321px) and (max-width:540px){
            body {
                    width:100%;
            }
            .a4{
                width:100%;
            }
            .gri{
                width:100%;
                display: grid;
                grid-template-rows: 25px 100px 100px 100px;
                grid-template-columns: 54px 120px 162px 155px;
                justify-content: center;
                text-align: center;
                font-size: 10px;
              
            }
            .a4{
                margin-top:90%;
            }
            .parent{
                display:flex;
                flex-direction: column;
            }
            .ch1{
                width:60%;
                height:15%;
                margin-left:15%;
            }
            .ch2{
                width:60%;
                height:15%;
                margin-left:15%;
            }
            .ch3{
                width:60%;
                height:15%;
                margin-left:15%;
            }
            
            .plan {
                display: flex;
                flex-direction: column;
            }
            .d1,.d2{
                width: 95%;
            }
            .cont{
                width: 70%;
                height:7%;
                margin-left:10%;
            }
            .for{
                width: 95%;
            }
            .font,
            .ig,
            .pe,.d {
                visibility: hidden;
            }
            .a2 {
                width: 98%;
                margin-top: 5%;
                margin-left: 0%;
                display: flex;
                flex-direction: column;
            }
            .mi {
                /* height:50%;
                width:50%; */
                margin-top:25%;
                
            }
            .im{
                height:110%;
                width:75%;
                margin-left: 10%;
            }
            .para {
                width: 50%;
                height: 20%;
                font-size: 10px;
            }
            .e {
                width: 20%;
                height: 2%;
                background-color: red;
                border-radius: 40px;
                padding: 7px 3px 20px 3px;
                color: white;
                text-align: center;
                margin-top: -0.2%;
                margin-left: -60%;
                margin-top: 0%;
            }
            .let {
                width: 15%;
            height: 2%;
            background-color: red;
            border-radius: 40px;
            padding: 7px 3px 20px 3px;
            color: white;
            text-align: center;
            margin-left: 45%;
            }
            .g{
                display: flex;
                flex-direction: row;
                color: whitesmoke;
                gap:5%;
                margin-top: 20%;
            }
            .h{
                display:flex;
                flex-direction: column;
            }


        }